.font-carter {
    font-family: 'Carter One', cursive;
}

.font-marmelad {
    font-family: 'Marmelad', sans-serif;
}

.font-expletus {
    font-family: 'Expletus Sans', cursive;
}

.product-thumbnail {
    width:80px
}